bleach==3.2.1
Django==2.2.17
django-pure-pagination==0.3.0
Markdown==3.3.3
mysqlclient==2.0.1
packaging==20.4
pkg-resources==0.0.0
pyparsing==2.4.7
pytz==2020.4
six==1.15.0
sqlparse==0.4.1
uWSGI==2.0.19.1
webencodings==0.5.1
whois==0.9.7
