astroid==2.4.1
autopep8==1.5.2
Django==2.2.12
django-pure-pagination==0.3.0
importlib-metadata==1.6.0
isort==4.3.21
lazy-object-proxy==1.4.3
Markdown==3.2.2
mccabe==0.6.1
mysqlclient==1.4.6
pkg-resources==0.0.0
pycodestyle==2.6.0
pylint==2.5.2
pymdown-extensions==7.1
pytz==2020.1
six==1.14.0
sqlparse==0.3.1
toml==0.10.1
typed-ast==1.4.1
uWSGI==2.0.18
wrapt==1.12.1
zipp==3.1.0
