{% extends 'subject/base.html' %}
{% load static %}

{% block content %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{% static "subject/img/post-bg.jpg" %}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>{{ article.title }}</h1>
                    <span class="meta">Posted by
                        <a href="#">Hsin</a>
                        on 
                        <time class="entry-date" datetime="2020-01-01T00:00:00+00:00">{{ article.modify_time }}</time></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                {{ article.content | safe }}
            </div>
        </div>
    </div>
</article>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {% if article.tags %}
            <hr>
            {% for tag in article.tags %}
            <i class="fas fa-tag" size="2x"></i> <a href="{% url 'subject:tag' tag.id %}">{{ tag.name }}</a>
            {% endfor %}
            {% endif %}
            <hr>
            {% if pre_article.id == 0 %}
            <span class="disabled float-left">&larr; {{ pre_article.title }}</span>
            {% else %}
            <a href="{% url 'subject:article' pre_article.id %}" class="float-left">&larr; {{ pre_article.title }}</a>
            {% endif %}
            {% if next_article.id == 0 %}
            <span class="disabled float-right">{{ next_article.title }} &rarr;</span>
            {% else %}
            <a href="{% url 'subject:article' next_article.id %}" class="float-right">{{ next_article.title }}
                &rarr;</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div id="gitalk-container"></div>
        </div>
    </div>
</div>
<hr>
{% endblock content %}

{% block resource %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.5.0/build/styles/github.min.css">
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.5.0/build/highlight.min.js"></script>
<script>
    hljs.initHighlightingOnLoad();
    hljs.initLineNumbersOnLoad({ singleLine: true });
</script>
<script>
    $("table").addClass("table table-bordered table-striped");
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
<script>
    var gitalk = new Gitalk({
        clientID: '847350f49cefd1f2326e',
        clientSecret: '3405f2c2e056abe07f587ae27cb0ade31ad033c7',
        repo: 'blog',
        owner: 'opsxin',
        admin: ['opsxin'],
        id: location.pathname,
        distractionFreeMode: false
    })

    gitalk.render('gitalk-container')
</script>
{% endblock resource %}