{% load static %}
{% load subject_extras %}
<!DOCTYPE html>
<html>

<head>
    {% block title %}
    <title>opsxin</title>
    {% endblock title %}

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="author" content="opsxin">
    <meta name="description" content="opsxin, 记录博客">
    <meta name="keywords" content="opsxin Python Linux Shell DevOps">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" sizes="128x128" href="/favicon-128.ico">
    <link rel="icon" sizes="64x64" href="/favicon.ico">
    <link rel="icon" sizes="48x48" href="/favicon-48.ico">
    <link rel="icon" sizes="32x32" href="/favicon-32.ico">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'subject/css/custom.min.css' %}">

    <!-- js -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"></script>
    <!-- <script data-ad-client="ca-pub-1686172718897640" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-default" role="navigation" style="background-color: white;">
            <div class="container-fluid">
                <a class="title" href="{% url 'subject:index' %}"><b>opsxin</b></a>
                <form class="navbar-form navbar-right search_form" role="search" method="GET"
                    action="{% url 'subject:search' %}">
                    <span class="inputSearch" id="searchInput">
                        <input type="text" class="form-control input-sm" id='search' name="query_text" value=""
                            placeholder="搜索文章" required>
                    </span>
                    <span class="searchTubiao" id="searchTubiao">
                        <button type="submit" class="search_btn" title="搜索">
                            <ion-icon name="search-outline">搜</ion-icon>
                        </button>
                    </span>
                </form>
            </div>
        </nav>
        <hr class="head-hr">
    </div>

    {% block content %}
    <div class="content-body">
        <div class="container">
            <div class="row">
                <main class="col-md-8">
                    {% block article %}
                    {% endblock article %}
                    {% block comment %}
                    {% endblock comment %}
                    {% block paginate %}
                    {% endblock paginate %}
                </main>
                <aside class="col-md-4">
                    {% block directory %}
                    {% endblock directory %}
                    {% block recomment %}
                    {% endblock recomment %}
                    {% show_recent_article %}
                    {% show_archives %}
                    {% show_categories %}
                    {% show_tags %}
                </aside>
            </div>
        </div>
    </div>
    {% endblock content %}

    <footer id="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="copyright">&copy2020 <ion-icon name="logo-github" size="small"></ion-icon> <a
                            href="https://github.com/opsxin" target="_blank">Hsin</a>
                        <ion-icon name="logo-rss" size="small">
                        </ion-icon> <a href="{% url 'subject:feed' %}" title="Feed 订阅">RSS 订阅</a>
                        <ion-icon name="mail-outline" size="small"></ion-icon> <a href="{% url 'subject:contact' %}"
                            data-hover="留言">留言</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Back to top -->
    <div id="box" class="box visible-md-block visible-lg-block">
        <div class="box-in"></div>
    </div>

    <script src="{% static 'subject/js/script.min.js' %}"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons@5.0.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://cdn.jsdelivr.net/npm/ionicons@5.0.0/dist/ionicons/ionicons.js"></script>
    {% block resource %}
    {% endblock resource %}
</body>

</html>