{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>Opsxin</title>

	<!-- meta -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- css -->
	<link rel="stylesheet" href="{% static 'subject/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="{% static 'subject/css/pace.css' %}">
	<link rel="stylesheet" href="{% static 'subject/css/custom.css' %}">

	<!-- js -->
	<script type="text/javascript" src="{% static 'subject/js/jquery-2.1.3.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'subject/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'subject/js/pace.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'subject/js/modernizr.custom.js' %}"></script>
</head>

<body id="page">
	<div class="container">
		<header id="site-header">
			<div class="row">
				<div class="col-md-4 col-sm-5 col-xs-8">
					<div class="logo">
						<h1><a href="{% url 'subject:index' %}"><b>Opsxin</b></a></h1>
					</div>
				</div><!-- col-md-4 -->
				<div class="col-md-8 col-sm-7 col-xs-4">
					<nav class="main-nav" role="navigation">
						<div class="navbar-header">
							<button type="button" id="trigger-overlay" class="navbar-toggle">
								<span class="ion-navicon"></span>
							</button>
						</div>

						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li class="cl-effect-11"><a href="{% url 'subject:index' %}" data-hover="首页">首页</a></li>
								<li class="cl-effect-11"><a href="{% url 'subject:full' %}" data-hover="博客">博客</a></li>
								<!-- <li class="cl-effect-11"><a href="{% url 'subject:about' %}" data-hover="关于">关于</a></li> -->
								<li class="cl-effect-11"><a href="{% url 'subject:contact' %}" data-hover="联系">联系</a>
								</li>
							</ul>
						</div><!-- /.navbar-collapse -->
					</nav>
					<div id="header-search-box">
						<a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
						<div id="search-form" class="search-form">
							<form role="search" method="POST" id="searchform" action="{% url 'subject:search' %}">
								{% csrf_token %}
								<input type="search" name="query_text" placeholder="搜索" required>
								<button type="submit"><span class="ion-ios-search-strong"></span></button>
							</form>
						</div>
					</div>
				</div><!-- col-md-8 -->
			</div>
		</header>
	</div>

	<div class="content-body">
		<div class="container">
			<div class="row">
				<main class="col-md-12">
					{% if messages %}
					<ul class="messages">
						{% for message in messages %}
						<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
							{% endfor %}
					</ul>
					{% endif %}
					<h1 class="page-title">留言</h1>
					<article class="post">
						<div class="entry-content clearfix">
							<form action="#" method="post" class="contact-form">
								<div class="row">
									<div class="col-md-6 col-md-offset-3">
										{% csrf_token %}
										<input type="text" name="name" placeholder="姓名" required>
										<input type="email" name="email" placeholder="邮件" required>
										<!-- <input type="text" name="subject" placeholder="信息" required> -->
										<textarea name="message" rows="7" placeholder="信息" required></textarea>
										<button
											class="btn-send btn-5 btn-5b ion-ios-paperplane"><span>留言</span></button>
									</div>
								</div> <!-- row -->
							</form>
						</div>
					</article>
					<section class="comment-area" id="comment-area">
						<hr>
						<div class="comment-list-panel">
							<h3>留言列表，共 <span>{{ contacts | length }}</span> 条留言</h3>
							<ul class="comment-list list-unstyled">
								{% for contact in contacts %}
								<li class="comment-item">
									<span class="nickname">{{ contact.name }}</span>
									<time class="submit-date" datetime="2020-01-01T00:00:00+00:00">{{ contact.publish_time }}</time>
									<div>
										<p class="text-left">{{ contact.message }}</p>
									</div>
								</li>
								{% endfor %}
							</ul>
						</div>
					</section>
				</main>
			</div>
		</div>
	</div>
	<footer id="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p class="copyright">&copy; 2020 Hsin</p>
				</div>
			</div>
		</div>
	</footer>

	<!-- Mobile Menu -->
	<div class="overlay overlay-hugeinc">
		<button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
		<nav>
			<ul>
				<li class="cl-effect-11"><a href="{% url 'subject:index' %}" data-hover="首页">首页</a></li>
				<li class="cl-effect-11"><a href="{% url 'subject:full' %}" data-hover="博客">博客</a></li>
				<!-- <li class="cl-effect-11"><a href="{% url 'subject:about' %}" data-hover="关于">关于</a></li> -->
				<li class="cl-effect-11"><a href="{% url 'subject:contact' %}" data-hover="联系">联系</a>
				</li>
			</ul>
		</nav>
	</div>

	<script type="text/javascript" src="{% static 'subject/js/script.js' %}"></script>

</body>

</html>