{% extends "subject/base.html" %}

{% block title %}
<title>给我留言</title>
{% endblock title %}

{% block content %}
<div class="content-body">
	<div class="container">
		<div class="row">
			<main class="col-md-12">
				{% if messages %}
				<ul class="messages">
					{% for message in messages %}
					<li{% if message.tags %} class="alert alert-{{ message.tags }}" {% else %} class="alert alert-info"
						{% endif %}>{{ message }}</li>
						{% endfor %}
				</ul>
				{% endif %}
				<h1 class="page-title">留言</h1>
				<article class="post">
					<div class="entry-content clearfix">
						<form action="#" method="post" class="contact-form">
							<div class="col-md-6 col-md-offset-3">
								{% csrf_token %}
								<input type="text" name="name" placeholder="姓名" required>
								<input type="email" name="email" placeholder="邮件" required>
								<textarea name="message" rows="5" placeholder="信息(支持 Markdown)" required></textarea>
								<button class="btn-send btn-5">留言</button>
							</div>
						</form>
					</div>
				</article>

				<section class="comment-area" id="comment-area">
					<hr>
					<div class="comment-list-panel">
						<h3>共 <span>{{ contacts | length }}</span> 条留言</h3>
						<ul class="list-group">
							{% for contact in contacts %}
							<li class="list-group-item">
								<span class="nickname"
									style="color: goldenrod"><strong>{{ contact.name }}</strong></span>
								<time class="submit-date"
									datetime="2020-01-01T00:00:00+00:00">&nbsp;-&nbsp;{{ contact.publish_time }}</time>
								<div><br /></div>
								{{ contact.message | safe }}
							</li>
							{% endfor %}
						</ul>
					</div>
				</section>
			</main>
		</div>
	</div>
</div>
{% endblock content %}