{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>opsxin</title>

	<!-- meta -->
	<meta charset="UTF-8">
	<meta name="author" content="opsxin">
	<meta name="description" content="opsxin, 记录博客">
	<meta name="keywoeds" content="opsxin Python Linux Shell">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- css -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.bootcss.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="{% static 'subject/css/custom.css' %}">

	<!-- js -->
	<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{% static 'subject/js/modernizr.custom.js' %}"></script>
</head>

<body>
	<div class="container">
		<header id="site-header">
			<div class="row">
				<div class="col-md-4 col-sm-5 col-xs-8">
					<div class="logo">
						<h1><a href="{% url 'subject:index' %}"><b>opsxin</b></a></h1>
					</div>
				</div><!-- col-md-4 -->
				<div class="col-md-8 col-sm-7 col-xs-4">
					<nav class="main-nav" role="navigation">
						<div class="navbar-header">
							<button type="button" id="trigger-overlay" class="navbar-toggle">
								<span class="ion-navicon"></span>
							</button>
						</div>

						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li class="cl-effect-11"><a href="{% url 'subject:index' %}" data-hover="首页">首页</a></li>
								<li class="cl-effect-11"><a href="{% url 'subject:contact' %}" data-hover="留言">留言</a>
								</li>
							</ul>
						</div><!-- /.navbar-collapse -->
					</nav>
					<div id="header-search-box">
						<a id="search-menu" href="#"><span id="search-icon" class="ion-ios-search-strong"></span></a>
						<div id="search-form" class="search-form">
							<form role="search" method="POST" id="searchform" action="{% url 'subject:search' %}">
								{% csrf_token %}
								<input type="search" name="query_text" placeholder="搜索" required>
								<button type="submit"><span class="ion-ios-search-strong"></span></button>
							</form>
						</div>
					</div>
				</div><!-- col-md-8 -->
			</div>
		</header>
	</div>

	<div class="content-body">
		<div class="container">
			<div class="row">
				<main class="col-md-12">
					{% for article in article_list %}
					<article class="post post-{{ article.pk }}">
						<header class="entry-header">
							<h1 class="entry-title">
								<a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
							</h1>
							<div class="entry-meta">
								<span class="post-category"><a
										href="{% url 'subject:category' article.category_id %}">{{ article.category }}</a></span>
								<span class="post-date"><time class="entry-date"
										datetime="2020-01-01T00:00:00+00:00">{{ article.modify_time }}</time></span>
								<span class="views-count">{{ article.read_num }} 阅读</span>
							</div>
						</header>
						<div class="entry-content clearfix">
							<p>{{ article.excerpt }}</p>
							<div class="read-more cl-effect-14">
								<a href="{{ article.get_absolute_url }}" class="more-link">继续阅读 <span
										class="meta-nav">→</span></a>
							</div>
						</div>
					</article>
					{% endfor %}

					{% if is_paginated %}
					{{ page_obj.render }}
					{% endif %}

				</main>
			</div>
		</div>
	</div>
	<footer id="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p class="copyright">&copy; 2020 Hsin</p>
				</div>
			</div>
		</div>
	</footer>

	<!-- Mobile Menu -->
	<div class="overlay overlay-hugeinc">
		<button type="button" class="overlay-close"><span class="ion-ios-close-empty"></span></button>
		<nav>
			<ul>
				<li class="cl-effect-11"><a href="{% url 'subject:index' %}">首页</a></li class="cl-effect-11">
				<li class="cl-effect-11"><a href="{% url 'subject:contact' %}">留言</a></li class="cl-effect-11">
			</ul>
		</nav>
	</div>

	<script type="text/javascript" src="{% static 'subject/js/script.js' %}"></script>

</body>

</html>