{% extends 'subject/base.html' %}
{% load static %}

{% block content %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{% static "subject/img/post-bg.jpg" %}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>文章</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {% for article in article_list %}
      <div class="post-preview">
        <a href="{{ article.get_absolute_url }}">
            {{ article.title }}
        </a>
      </div>
      <hr>
      {% endfor %}
      <!-- Pager -->
      {% if is_paginated %}
      {{ page_obj.render }}
      {% endif %}
    </div>
  </div>
</div>

<hr>
{% endblock content %}