{% extends 'subject/base.html' %}
{% load static %}

{% block content %}
<!-- Main Content -->
<div class="container w-full md:max-w-3xl mx-auto pt-20">
  <div class="py-4 px-4">
    <h2 class="text-4xl mb-10 text-center font-semibold font-heading">全部文章</h2>
    <div class="text-base md:text-lg px-4 py-6">
      {% for article in article_list %}
      <div class="post-preview">
        <a href="{{ article.get_absolute_url }}">
            {{ article.title }}
        </a>
      </div>
      <hr>
      {% endfor %}
      <!-- Pager -->
      {% if is_paginated %}
      {{ page_obj.render }}
      {% endif %}
    </div>
  </div>
</div>

<hr>
{% endblock content %}