<div>
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?{{ page_obj.previous_page_number.querystring }}">&larr; 上页</a>
        </li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">&larr; 上页</a></li>
        {% endif %}
        {% for page in page_obj.pages %}
        {% if page %}
        {% ifequal page page_obj.number %}
        <li class="page-item active"><a class="page-link" href="#">{{ page }}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?{{ page.querystring }}">{{ page }}</a></li>
        {% endifequal %}
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?{{ page_obj.next_page_number.querystring }}">下页 &rarr;</a>
        </li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">下页 &rarr;</a></li>
        {% endif %}
    </ul>
</div>