{% extends 'subject/base.html' %}
{% load static %}

{% block content %}
<header class="masthead" style="background-image: url('{% static "subject/img/post-bg.jpg" %}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Paste</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <pre><code class="{{ contents.code_class }}">{% autoescape on %}{{ contents.message }}{% endautoescape %}</code></pre>
</div>
<hr>
{% endblock content %}

{% block resource %}
<link rel="stylesheet" href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.4.0/build/styles/atom-one-light.min.css">
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.4.0/build/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock resource %}