{% extends 'subject/base.html' %}
{% load static %}>

{% block content %}
<header class="masthead" style="background-image: url('{% static "subject/img/post-bg.jpg" %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Paste</h1>
          </div>
        </div>
      </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <form action="" method="post">
                <div class="form-group">
                    <label for="exampleFormControlInput1">姓名</label>
                    <input type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="姓名"
                        maxlength="15" onkeyup="this.value=this.value.replace(/[, ]/g,'')" required>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">文本格式</label>
                    <select class="form-control" id="exampleFormControlSelect1" name="code_class">
                        <option value="plaintext" selected>plaintext</option>
                        <option value="bash">bash</option>
                        <option value="c++">c++</option>
                        <option value="c#">c#</option>
                        <option value="css">css</option>
                        <option value="dockerfile">dockerfile</option>
                        <option value="go">go</option>
                        <option value="html">html</option>
                        <option value="java">java</option>
                        <option value="javascript">javascript</option>
                        <option value="json">json</option>
                        <option value="markdown">markdown</option>
                        <option value="php">php</option>
                        <option value="python">python</option>
                        <option value="sql">sql</option>
                        <option value="typescript">typescript</option>
                        <option value="xml">xml</option>
                        <option value="yaml">yaml</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect2">保存天数</label>
                    <select class="form-control" id="exampleFormControlSelect2" name="validity">
                        <option value="1" selected>1</option>
                        <option value="3">3</option>
                        <option value="7">7</option>
                        <option value="15">15</option>
                        <option value="30">30</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">文本内容</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="message" rows="5"
                        required></textarea>
                </div>
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">提交</button>
            </form>
        </div>
    </div>
</div>
<hr>
{% endblock content %}